extends ../layouts/common

block content
  h1 Order: 
  table.table
    tr
      th Avatar
      th Name
      th Delete
      th Update
      th Add to cart
    each book in books
      tr
        td
          img(src=book.avatar, width="32")
        td= book.text
        td
          a.btn.btn-dark(href="/books/" + book.id + "/delete/" ) Delete
        td
          a.btn.btn-dark(href="/books/update/" +book.id) Update
        td
          a.btn.btn-dark(href="/cart/add/" +book.id) Add to cart

  form(action="/books/create", method="POST", enctype="multipart/form-data")
    .form-group
      label.ml-5(for="text") Text
      input#text.form-control.ml-5(name="text" type="text" value=values ? values.name : '')
    .form-group
      label.ml-5(for="avatar") Avatar
      input#avatar.form-control-file.ml-5(name="avatar" type="file")
    button.btn.btn-primary.ml-5 Create