extends ../layouts/common

block content
  h1 Update
  form(action="/books/"+book.id+"/update", method="POST")
    span Name 
    span &nbsp
    input(type="text",name="text", value=book.text)
    button Update