head
  title
  // import the webpage's stylesheet
  link(rel='stylesheet', href='../../styles/style.css')
.wrapper
  .box
    h1 500
    p Sorry, it&apos;s me, not you.
    p :(
    p
      a(href='/') Let me try again!
