html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="icon" href="../../images/favicon.png")
    link(rel="stylesheet" href="../../styles/custom.css")
  body

block content