extends ../layouts/common

block content
  h1 Users
  if error
    .alert.alert-danger=error
  table.table
    tr
      th Avatar
      th Name
      th Delete
      th Delete
    each user in users
      tr
        td
          img(src=user.avatar, width="32")
        td= user.text
        td
          a.btn.btn-dark(href="/users/" + user.id + "/delete/" ) Delete
        td
          a.btn.btn-dark(href="/users/"+user.id+"/update/" ) Update

  form(action="/users/create", method="POST", enctype="multipart/form-data")
    .form-group
      label.ml-5(for="text") Text
      input#text.form-control.ml-5(name="text" type="text" value=values ? values.name : '')
    .form-group
      label.ml-5(for="avatar") Avatar
      input#avatar.form-control-file.ml-5(name="avatar" type="file")
    button.btn.btn-primary.ml-5 Create